@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: Outfit, sans-serif;
}

body {
    position: relative;
    margin: 0px;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    border-radius: 1em;
    background-color: hsl(0, 0%, 100%);
    width: 321px;
    min-height: 498px;
}

div > img {
    width: 100%;
    border-radius: 1em;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.5rem;
    text-align: center;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 1.05rem;
    text-align: center;
}